# **Pandas Basics - part - 01**

In [1]:
import pandas as pd
d1 = {'col1': [1, 2, 3 ,4], 'col2': ['a','x','e', 'f'], 'col3':['q','w','y','v'], 'col2': ['a','x',3, 'f'], }

df = pd.DataFrame(data=d1)
display(df)
#df.to_csv('demo.csv')

   col1 col2 col3
0     1    a    q
1     2    x    w
2     3    3    y
3     4    f    v

In [ ]:
import pandas as pd
import numpy as np
d2 = {'col1': [1, 2, 3 ,4], 'col2': ['a','x','e', 'f'], 'col3':['q','w',np.nan,'v'], 'col2': ['a','x',3, 'f'], }

df2 = pd.DataFrame(data=d2)
display(df2)
#df2.to_csv('demo1.csv')

   col1 col2 col3
0     1    a    q
1     2    x    w
2     3    3  NaN
3     4    f    v

In [ ]:
#

# **String replace**
## one value to another value replcements

In [ ]:
import pandas as pd
df0 = pd.DataFrame({"A":["aa","ba","ca"]})
df0

    A
0  aa
1  ba
2  ca

In [ ]:
df0["A"]

0    aa
1    ba
2    ca
Name: A, dtype: object

In [ ]:
# we can remove last string in a dataframe
df0["A"].str[:-1]
#df0["A"].str[:-1]

0    a
1    b
2    c
Name: A, dtype: object

In [ ]:
df3 = pd.DataFrame({"A":["aa","ab","abc"]})
df3

     A
0   aa
1   ab
2  abc

In [ ]:

# we can remove last string in a dataframe
df3["A"].str[:-1]

0     a
1     a
2    ab
Name: A, dtype: object

In [ ]:
df4 = pd.DataFrame({"A":["a","ab","abc"]})
df4

     A
0    a
1   ab
2  abc

In [ ]:
df4["A"].str[:-1]

0
1     a
2    ab
Name: A, dtype: object

In [ ]:
import pandas as pd
df4 = pd.DataFrame({"A": ['100M', '200M', '300M', '137.46M']})
df4
df4["A"].str[:-1]
#print(df4)

0       100
1       200
2       300
3    137.46
Name: A, dtype: object

In [ ]:
#method - 1s
import pandas as pd
a = ['100M', '200M', '300M', '137.46M']
b = ['10M', '20M', '30M', '40M']
df5 = pd.DataFrame({"A": a, "b": b})
data = df5["A"].str[:-1]
df5 = pd.DataFrame({"A": data, "b": b})
df5
#print(df5)

        A    b
0     100  10M
1     200  20M
2     300  30M
3  137.46  40M

In [ ]:
string = "a b c d e f"
 
# Prints the string by replacing
# e by a
print(string.replace("c", "C"))

a b C d e f

In [ ]:
string = "100M"
 
# Prints the string by replacing
# e by a
print(string.replace("M", ""))

100

In [ ]:
# Method - 2

#basics - https://stackoverflow.com/questions/28986489/how-to-replace-text-in-a-string-column-of-a-pandas-dataframe
# accurate reference - https://stackoverflow.com/questions/24197305/error-when-trying-to-convert-a-column-with-string-in-python-pandas-to-float
  # m replacing- using string replacement .str.replace('M','',inplace=True)
import pandas as pd
a = ['100.1M', '200.6M', '300.2M', '137.6M']
b = ['10M', '20M', '30M', '40M']
df = pd.DataFrame({"A": a, "b": b})
#data = df["A"].str.replace('M','',inplace=True)
data = df["A"].replace('[M]', '', regex=True).astype(float)
df = pd.DataFrame({"A": data, "b": b})
print(df)
#

       A    b
0  100.1  10M
1  200.6  20M
2  300.2  30M
3  137.6  40M

In [ ]:
#method - 3

import pandas as pd
a = ['100M', '200M', '300M', '137M']
b = ['10M', '20M', '30M', '40M']
df = pd.DataFrame({"A": a, "b": b})
#data = df["A"].str.replace('M','',inplace=True)
data = df["A"].replace('[M]', '', regex=True).astype(int)
df = pd.DataFrame({"A": data, "b": b})
print(df)

     A    b
0  100  10M
1  200  20M
2  300  30M
3  137  40M

In [ ]:
#

import pandas as pd
a = ['100M', '200K', '300M', '137B']
b = ['10K', '20M', '30B', '40M']
df5 = pd.DataFrame({"A": a, "B": b})
df5.to_csv('demo.csv')

In [ ]:
import pandas as pd

file_path = 'demo.csv'
df6 = pd.read_csv(file_path)
#df.columns = ["Volume"] 
df6

   Unnamed: 0     A    B
0           0  100M  10K
1           1  200K  20M
2           2  300M  30B
3           3  137B  40M

In [ ]:
#

#references

#https://stackoverflow.com/questions/39684548/convert-the-string-2-90k-to-2900-or-5-2m-to-5200000-in-pandas-dataframe
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', ''))*1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', ''))*1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', ''))*1000000000
    return x

df6["A"] = df["A"].apply(value_to_float)
df6

   Unnamed: 0             A    B
0           0  1.000000e+08  10K
1           1  2.000000e+05  20M
2           2  3.000000e+08  30B
3           3  1.370000e+11  40M

# **Conditions (>, <, >=, <=, ==, !=)**
**conditional formattings**

In [ ]:
import pandas as pd
df7=pd.DataFrame({'ssn':[7,7.5,6.5,6,8,9],'Name':['rabi','mano', 'prabhu','thariq','musthafa','hrf']})
df8 = df7.loc[df7['ssn'] > 5]
df8
#df
#print(df)

   ssn      Name
0  7.0      rabi
1  7.5      mano
2  6.5    prabhu
3  6.0    thariq
4  8.0  musthafa
5  9.0       hrf

In [ ]:
import pandas as pd
df7=pd.DataFrame({'ssn':[7,7.5,6.5,6,8,9],'Name':['rabi','mano', 'prabhu','thariq','musthafa','hrf']})
df8 = df7.loc[df7['ssn'] > 8]
df8
#df
#print(df)

   ssn Name
5  9.0  hrf

In [ ]:
import pandas as pd
df7=pd.DataFrame({'ssn':[7,7.5,6.5,6,8,9],'Name':['rabi','mano', 'prabhu','thariq','musthafa','hrf']})
df8 = df7.loc[df7['ssn'] == 8]
df8
#df
#print(df)

   ssn      Name
4  8.0  musthafa

In [ ]:
import pandas as pd
df7=pd.DataFrame({'ssn':[7,7.5,6.5,6,8,9],'Name':['rabi','mano', 'prabhu','thariq','musthafa','hrf']})
df8 = df7.loc[df7['ssn'] != 8]
df8
#df
#print(df)

   ssn    Name
0  7.0    rabi
1  7.5    mano
2  6.5  prabhu
3  6.0  thariq
5  9.0     hrf

In [ ]:
import pandas as pd
df7=pd.DataFrame({'ssn':[7,7.5,6.5,6,8,9],'Name':['rabi','mano', 'prabhu','thariq','musthafa','hrf']})
df8 = df7.loc[df7['ssn'] >= 8]
df8
#df
#print(df)

   ssn      Name
4  8.0  musthafa
5  9.0       hrf

In [ ]:
import pandas as pd
df7=pd.DataFrame({'ssn':[7,7.5,6.5,6,8,9],'Name':['rabi','mano', 'prabhu','thariq','musthafa','hrf']})
df8 = df7.loc[df7['ssn'] <= 8]
df8
#df
#print(df)

   ssn      Name
0  7.0      rabi
1  7.5      mano
2  6.5    prabhu
3  6.0    thariq
4  8.0  musthafa

In [ ]:
#

# **CSV file reading a value**

In [ ]:
import pandas as pd
d1 = {'col1': [1, 2, 3 ,4], 'col2': ['a','x','e', 'f'], 'col3':['q','w','y','v'], }

df = pd.DataFrame(data=d1)
display(df)
#df.to_csv('demo.csv')
df.to_csv('testing.csv')

   col1 col2 col3
0     1    a    q
1     2    x    w
2     3    e    y
3     4    f    v

In [ ]:
# reading by columns
import pandas as pd

dataset = pd.read_csv("testing.csv")

data = dataset.iloc[:,1:2].values
print(data)

[[1]
 [2]
 [3]
 [4]]

In [ ]:
# reading by row
import pandas as pd

dataset = pd.read_csv("testing.csv")

data = dataset.iloc[1:4].values
print(data)

[[1 2 'x' 'w']
 [2 3 'e' 'y']
 [3 4 'f' 'v']]

In [ ]:
# reading by columns
import pandas as pd

dataset = pd.read_csv("testing.csv")

data = dataset.iloc[1:4].values
print(data)

In [ ]:
# reading by invidual columns and getting outputs 
import pandas as pd
import csv
with open('testing.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    #fsa=[]
    for row in reader:
        count = count+1
        print(row[2])
        #fsa.append(row[1])
#print(fsa[0:])
#print(fsa[3:])

col2
a
x
e
f

In [ ]:
# reading by columns and getting output as list
import pandas as pd
import csv
with open('testing.csv', encoding='utf-8-sig') as csvfile:
    reader = csv.reader(csvfile)
    count = 0
    fsa=[]
    for row in reader:
        count = count+1
        #print(row[2])
        fsa.append(row[1])
print(fsa[0:])
print(fsa[3:])

['col1', '1', '2', '3', '4']
['3', '4']

In [ ]:
# test replace for a specifi row or columns
# importing the pandas library
import pandas as pd

# reading the csv file
df = pd.read_csv("testing.csv")
print(df)
# updating the column value/data
df.loc[3, 'col1'] = 'text' # df.loc[row number, column name]

# writing into the file
df.to_csv("testing.csv", index=False)

print(df)
#https://www.geeksforgeeks.org/update-column-value-of-csv-in-python/

   Unnamed: 0  col1 col2 col3
0           0     1    a    q
1           1     2    x    w
2           2     3    e    y
3           3     4    f    v
   Unnamed: 0  col1 col2 col3
0           0     1    a    q
1           1     2    x    w
2           2     3    e    y
3           3  text    f    v