In [ ]:
list1 = ['Symbol', 'AAPL', 'F', 'AMD', 'DIDI', 'VICI']
list1[1:]

['AAPL', 'F', 'AMD', 'DIDI', 'VICI']

In [ ]:
#!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 36.1 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
import yfinance as yf
import csv
import pandas as pd
import numpy as np

urls=list1[1:]
shortName = []
symbol = []
volume = []
currentPrice = []
averageVolume = []
previousClose = []
for url in urls:
    tickerTag = yf.Ticker(url)
    shortName.append(tickerTag.info['shortName'])
    symbol.append(tickerTag.info['symbol'])
    volume.append(tickerTag.info['volume'])
    currentPrice.append(tickerTag.info['currentPrice'])
    averageVolume.append(tickerTag.info['averageVolume'])
    previousClose.append(tickerTag.info['previousClose'])
print(shortName)
print(symbol)
print(volume)
print(currentPrice)
print(averageVolume)
print(previousClose)

data = [
    shortName,
    symbol,
    volume,
    currentPrice,
    averageVolume,
    previousClose,
]

df = pd.DataFrame(columns=[list1[1:]], data=data)
df

['Apple Inc.', 'Ford Motor Company', 'Advanced Micro Devices, Inc.', 'DiDi Global Inc.', 'VICI Properties Inc.']
['AAPL', 'F', 'AMD', 'DIDI', 'VICI']
[131747571, 82609832, 82647701, 72896109, 47203290]
[157.65, 14.16, 85.52, 1.88, 29.81]
[88743671, 78392243, 102835503, 54318213, 9710636]
[163.64, 14.62, 89.64, 1.81, 30.64]

,AAPL,F,AMD,DIDI,VICI
0,Apple Inc.,Ford Motor Company,"Advanced Micro Devices, Inc.",DiDi Global Inc.,VICI Properties Inc.
1,AAPL,F,AMD,DIDI,VICI
2,131747571,82609832,82647701,72896109,47203290
3,157.65,14.16,85.52,1.88,29.81
4,88743671,78392243,102835503,54318213,9710636
5,163.64,14.62,89.64,1.81,30.64

In [ ]:
list = ['Symbol', 'AAPL', 'F', 'AMD', 'DIDI', 'VICI', 'NIO', 'INTC', 'T', 'VALE', 'BAC', 'NVDA', 'FB', 'BABA', 'NOK', 'ITUB', 'BBD', 'NLY', 'TWTR', 'SWN', 'MSFT', 'SNAP', 'CMCSA', 'TDOC', 'VZ', 'PBR', 'HOOD', 'SOFI', 'SIRI', 'ABEV', 'PLTR', 'TSLA', 'BMY', 'PDD', 'PCG', 'XOM', 'KMI', 'BEKE', 'UBER', 'IQ', 'GGB', 'CLF', 'X', 'DKNG', 'C', 'AAL', 'PYPL', 'ABBV', 'CCL', 'AMC', 'KO', 'HBAN', 'OXY', 'PFE', 'WFC', 'TLRY', 'LYG', 'RBLX', 'TELL', 'GOLD', 'JD', 'WBD', 'LCID', 'AMCR', 'CS', 'DNA', 'ROKU', 'FCX', 'MU', 'DIS', 'GM', 'RIG', 'AUY', 'ET', 'PLUG', 'ZNGA', 'MRK', 'AGNC', 'KGC', 'LUMN', 'PBR-A', 'BP', 'NFLX', 'BSX', 'PINS', 'CL', 'JPM', 'CVE', 'CVX', 'TME', 'AVTR', 'GRAB', 'FTI', 'CSCO', 'QCOM', 'DAL', 'BKR', 'IBN', 'MRO', 'WU', 'APA']

In [ ]:
list[1:]
print(list[1:10])

['AAPL', 'F', 'AMD', 'DIDI', 'VICI', 'NIO', 'INTC', 'T', 'VALE']

In [ ]:
import yfinance as yf
import csv
import pandas as pd
import numpy as np

urls=list[1:10]
shortName = []
symbol = []
volume = []
currentPrice = []
averageVolume = []
previousClose = []
for url in urls:
    tickerTag = yf.Ticker(url)
    shortName.append(tickerTag.info['shortName'])
    symbol.append(tickerTag.info['symbol'])
    volume.append(tickerTag.info['volume'])
    currentPrice.append(tickerTag.info['currentPrice'])
    averageVolume.append(tickerTag.info['averageVolume'])
    previousClose.append(tickerTag.info['previousClose'])
print(shortName)
print(symbol)
print(volume)
print(currentPrice)
print(averageVolume)
print(previousClose)

data = [
    shortName,
    symbol,
    volume,
    currentPrice,
    averageVolume,
    previousClose,
]

df = pd.DataFrame(columns=[list[1:10]], data=data)
df

['Apple Inc.', 'Ford Motor Company', 'Advanced Micro Devices, Inc.', 'DiDi Global Inc.', 'VICI Properties Inc.', 'NIO Inc.', 'Intel Corporation', 'AT&T Inc.', 'VALE S.A.']
['AAPL', 'F', 'AMD', 'DIDI', 'VICI', 'NIO', 'INTC', 'T', 'VALE']
[131747571, 83184883, 82647701, 73766084, 64837649, 62933918, 70765887, 70195438, 47752545]
[157.65, 14.16, 85.52, 1.88, 29.81, 16.7, 43.59, 18.86, 16.89]
[88743671, 78392243, 102835503, 54318213, 9710636, 71173715, 36201878, 59841222, 37612851]
[163.64, 14.62, 89.64, 1.81, 30.64, 16.93, 46.84, 19.42, 17]

,AAPL,F,AMD,DIDI,VICI,NIO,INTC,T,VALE
0,Apple Inc.,Ford Motor Company,"Advanced Micro Devices, Inc.",DiDi Global Inc.,VICI Properties Inc.,NIO Inc.,Intel Corporation,AT&T Inc.,VALE S.A.
1,AAPL,F,AMD,DIDI,VICI,NIO,INTC,T,VALE
2,131747571,83184883,82647701,73766084,64837649,62933918,70765887,70195438,47752545
3,157.65,14.16,85.52,1.88,29.81,16.7,43.59,18.86,16.89
4,88743671,78392243,102835503,54318213,9710636,71173715,36201878,59841222,37612851
5,163.64,14.62,89.64,1.81,30.64,16.93,46.84,19.42,17

In [ ]:
df.to_csv('data.csv')

In [15]:
# reading a second row in csv
import csv
noise_amp=[]         #an empty list to store the second column
with open('data.csv', 'r') as rf:
    reader = csv.reader(rf, delimiter=',')
    for row in reader:
        noise_amp.append(row[1]) # which row we need to read , 1 is frist row , 2 is second row
    print(noise_amp)

['AAPL', 'Apple Inc.', 'AAPL', '131747571', '157.65', '88743671', '163.64']